[Unit]
Description=Simplified GPIO listener
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/raspberry-media-center/work
ExecStart=/home/pi/raspberry-media-center/src/gpio-listener.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target


