[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=nsenter --net=/var/run/netns/sp1 --uts=/tmp/ns-sp1 /home/pi/raspberry-media-center/work/spotifyd --no-daemon --config-path /home/pi/.config/spotifyd/spotifyd-aux.conf
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
